
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">
<head id="Head1" runat="server">
    <title>Login</title>
    <link rel="Stylesheet" href="StyleSheet.css" type="text/css" />
</head>
<body>
    <form id="form1" runat="server">
        <h1>Expense Management</h1>
        <h3>Please Login to manage Company Expenses.</h3>
        <table align="center" border="2" width="300">
            <tr>
                <td>User Id:</td>
                <td><asp:TextBox ID="txtUserName" runat="server"></asp:TextBox></td>
            </tr>
            <tr>
                <td>Password</td>
                <td><asp:TextBox ID="txtPassword" TextMode="Password" runat="server"></asp:TextBox></td>
            </tr>
            <tr>
                <td colspan="2">
                    <rsv:CaptchaControl ID="Captcha1" runat="server" CaptchaLength="5"
                                        CaptchaHeight="60" CaptchaMinTimeout="5" CaptchaMaxTimeout="200"
                                        ForeColor="#00FFCC" BackColor="White" CaptchaChars="ABCDEFGHIJKLMNOPQRSTUVWXYZ1234567890"
                                        FontColor="Red" Width="177px" />
                </td>
            </tr>
            <tr>
                <td>Enter Captcha:</td>
                <td><asp:TextBox ID="txtCaptcha" runat="server"></asp:TextBox></td>
            </tr>
            <tr>
                <td><asp:Button ID="Button" runat="server" Text="Login" onclick="Button_Login" /></td>
                <td><asp:Label ID="lblCaptcha" runat="Server" ForeColor="Red"></asp:Label></td>
            </tr>
            <tr>
                <td>
                    <asp:HyperLink ID="linkForgetPassword" runat="server" ForeColor="Red" NavigateUrl="~/ForgetPassword.aspx">Forget Password ?</asp:HyperLink>
                </td>
            </tr>
        </table>
    </form>
</body>
</html>
